.env
moodledata/secret/
moodledata/sessions/
moodledata/cache/
moodledata/localcache/
moodledata/muc/
moodledata/temp/
moodledata/trashdir/
*.pyc
**/__pycache__/
moodledata/backups/copia_de_seguridad-moodle2-course-1188-edetns-elg_ed_25-20260522-1153-nu.mbz
moodledata/backups/sem6_edet.mbz
moodledata/backups/copia_de_seguridad-moodle2-course-1276-tecde_ed_26-20260522-1200-nu.mbz
moodledata/backups/wetransfer_entre_cables-mbz_2026-05-21_1821.zip